/venv/
.idea
/data/out/db/land_units_tables/!!!@@@units_200.tsv
/data/out/db/main_units_tables/!!!@@@units_200.tsv
/data/in/ab_mixu_legendary_lords/db/main_units_tables/ab_mixu_chaos_dragon.tsv
/data/in/ab_mixu_mousillon/db/land_units_tables/ab_mixu_mousillon_characters.tsv
/data/in/ab_mixu_shadowdancer/db/land_units_tables/ab_mixu_shadowdancer.tsv
/data/in/ab_mixu_shadowdancer/db/main_units_tables/ab_mixu_shadowdancer.tsv
/data/in/ab_mixu_mousillon/db/land_units_tables/ab_mixus_mousillon_new.tsv
/data/in/ab_mixu_mousillon/db/main_units_tables/ab_mixus_mousillon_new.tsv
/data/in/ak_kraka3/db/land_units_tables/ak_kraka.tsv
/data/in/ak_kraka3/db/main_units_tables/ak_kraka.tsv
/data/in/ak_seapatrol/db/land_units_tables/AK_seahelm.tsv
/data/in/ak_seapatrol/db/main_units_tables/AK_seahelm.tsv
/data/in/ak_teb3/db/land_units_tables/AK_teb.tsv
/data/in/ak_teb3/db/main_units_tables/AK_teb.tsv
/data/in/ak_teb3/db/land_units_tables/AK_teb_chars.tsv
/data/in/ak_teb3/db/main_units_tables/AK_teb_chars.tsv
/data/in/ak_teb3/db/land_units_tables/AK_teb_roc.tsv
/data/in/ak_teb3/db/main_units_tables/AK_teb_roc.tsv
/data/in/ak_teb3/db/land_units_tables/AK_teb_ror.tsv
/data/in/ak_teb3/db/main_units_tables/AK_teb_ror.tsv
/data/in/ab_mixu_legendary_lords/db/land_units_tables/mixu_chaos_dragon.tsv
/data/in/ab_mixu_legendary_lords/db/land_units_tables/mixu_kouran_darkhand.tsv
/data/in/ab_mixu_legendary_lords/db/main_units_tables/mixu_kouran_darkhand.tsv
/data/in/ab_mixu_legendary_lords/db/land_units_tables/mixu_marienburg.tsv
/data/in/ab_mixu_legendary_lords/db/main_units_tables/mixu_marienburg.tsv
/data/in/ab_mixu_mousillon/db/main_units_tables/mixu_mousillon_characters.tsv
/data/in/ab_mixu_legendary_lords/db/land_units_tables/mixu_units_ror_n_summons.tsv
/data/in/ab_mixu_legendary_lords/db/main_units_tables/mixu_units_ror_n_summons.tsv
